* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
  
}

a {
  text-decoration: none;
  color: #032D60;
}

a:hover {
  text-decoration: underline;
}

#intro h2{
  font-size: 70px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#intro h3 {
  font-size: 30px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.button-azul {
  background-color: #0072c6;
  color: #fff;
  padding: 10px 25px;
  border: none;
  border-radius: 50px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button-borda{
  border: 10px #032D60;
  color: #032D60;
  padding: 10px 25px;
  border-radius: 49px;
  cursor: pointer;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:hover {
  background-color: #032D60;
}

header {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

header h1 {
  font-size: 2rem;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-right: 60px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
  padding: 50px;
}

main section {
  margin-bottom: 20px;
}

main h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

main p {
  margin-bottom: 50px;
}


#clientes {
    background-color: #d5dbe070;
    padding: 3rem;
    height: 200px;
}

.position-einten{
  float: right;
  width: 600px;
  height: 500px;
  
}

.efeito{
  transition: all .5s;
  border: 5px solid transparent;
}

.efeito:hover{
  border: 5px solid #032D60;
  border-radius: 50%;
  cursor: pointer;
}

/* Estilos padrão para celulares */
@media (max-width: 480px) {
  body {
    
    
  }
  .menor{
    display: inline-block;
  }
  .position-einten{
    width: 300px;
    height: 300px;
  }
  .fonte-tamanho{
    font-size: 10px;
    
  }
  .content2{
    
  }
  .card2{
    height: 300px;
    width: 300px;
  }
  .cardResponsivo{
  }
  .rodape{
    position: relative;
    top: 900px;
    display: none;
  }
  .rodape2{
    position: relative;
    top: 600px;
    color: yellow;
    
  }
  .cor {
    color: white;

  }
  p{
  }
  .fonte-tamanho{
    font-size: 5px;
  }
}

/* Estilos para tablets */
@media (min-width: 481px) and (max-width: 767px) {
  body {
      
  }

  .menor{
    display: inline-block;
  }
  .position-einten{
    width: 350px;
    height: 350px;
    position: relative;
    right: 100px;
  }
  .fonte-tamanho{
    font-size: 10px;
    
  }
  .content2{
    
  }
  .card2{
    height: 300px;
    width: 300px;
  }
  .cardResponsivo{
  }
  .rodape{
    position: relative;
    top: 100px;
    display: none;
  }
  .rodape2{
    position: relative;
    top: 100px;
    color: yellow;
    
  }
  .cor {

  }
  p{
  }
  .fonte-tamanho{
    font-size: 5px;
  }
}

/* Estilos para desktops */
@media (min-width: 1025px) and (max-width: 1280px){
  body {
     
  }
  .position-einten{
    width: 450px;
    height: 450px;
  }
  .rodape{
    position: relative;
    top: 100px;
    display: none;
  }
  .rodape2{
    position: relative;
    top: 100px;
    
  }
}

/* Estilos para ultrawide */
@media (min-width: 1281px) {
  body {
      background-color: white;
  }
}
