* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

a {
  text-decoration: none;
  color: #0072c6;
}

a:hover {
  text-decoration: underline;
}

.button-azul {
  background-color: #0072c6;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button-borda{
  border: 10px #0072c6;
  color: #0072c6;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #005ea5;
}

header {
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

header h1 {
  font-size: 2rem;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-right: 20px;
}

main {
  padding: 20px;
}

main section {
  margin-bottom: 20px;
}

main h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

main p {
  margin-bottom: 20px;
}


#clientes {
    background-color: #f2f2f2;
    padding: 2rem;
    text-align: center;
}

#clientes h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#clientes ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

#clientes li {
    margin: 0 1rem;
}

#clientes a {
    color: #0072c6;
    margin: 0 1rem;
}

#clientes a:hover {
    text-decoration: underline;
}

#clientes p {
    margin-bottom: 0;
}

.pad{
  padding: 20px;
}