.card-integrantes{
    width: 250px;
    height: 250px;
    margin-left: 50px;
    display: inline-block;
}

.content-card{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.descricao{
    color: #032D60;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 0;

}