
.content-card2{
    display: flex;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #032D60;;
}

.content-card2 h3{
    padding-top: 20px;
    font-size: 14px;
    
}

.card-acessibilidade{
    background-color: white;
    border-radius: 40px;
    height: 300px;
    width: 300px;
    border: 1px solid #032D60;
}

.card-acessibilidade2{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-flow: row wrap;
    position: relative;
    left: 80px;
    top: 30px;
}

.acesse{
    position: relative;
    top: 80px;
    left: -100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}


