.rodape{
    display: flex;
    justify-content: center;
    padding: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #032D60;
    font-size: 12px;
    line-height: 1px;
}

.rodape2{
    display: flex;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #032D60;
    font-size: 12px;
    line-height: 1px;
}